body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 70px 20px;
}

.container h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-align: justify;
    padding-bottom: 10px;
}

.container p {
    font-size: 2em;
    text-align: justify;
}

.container p input {
    font-size: 2em;
}