body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 70px 20px;
}

.container h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-align: justify;
    padding-bottom: 10px;
}

.container p {
    font-size: 2em;
    text-align: justify;
}

.container p input {
    font-size: 2em;
}

.td-image {
    background-color: white;
}

.default-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

table {
    border-collapse: separate;
    border-spacing: 15px;
}

th {
    text-align: center;
    font-weight: normal;
    font-style: italic;
    font-size: 1.5em;
}

td {
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #007bff;
}

/* tr:hover {
    background-color: #333;
} */

.search-container {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: -50px;
    margin-left: 470px;
}

.search-input {
    padding: 8px;
    border-radius: 0px;
    border: 2px solid black;
    height: 20px;
}

.search-button {
    padding: 8px;
    color: white;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    border-radius: 0px;
    height: 40px;
    margin-left: -5px;
}

.search-button:hover {
    background-color: #007bff;
}

.search-button:active {
    background-color: #333;
}

.pagination {
    text-align: center;
    margin-top: 20px;
    margin-left: -10%;
}

.step-links {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.step-links a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
    background-color: #f8f8f8;
    cursor: pointer;
}

.step-links span.current {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: #fff;
}

.step-links a:hover {
    background-color: #007bff;
    color: #fff;
}

.my-row-detail {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.title-detail {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;
}