{% extends "base.html" %}
{% load static %}
{% block title %}Inventory{% endblock %}
{% block content %}
<table>
    <thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Description</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Image</th>
    </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.model }}</td>
            <td>{{ product.image }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
