{% extends "base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}Products{% endblock %}
{% block content %}
<h1>Inventory</h1>
<div class="search-container">
  <form method="get" action={% url "stock:search" %}>
    <input type="text" class="search-input" name="input" placeholder="Search product..." />
    <button type="submit" class="search-button">
      <span class="loupe">🔍</span>
    </button>
  </form>
</div>
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Location</th>
      <th>Serial</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    {% for item in page_obj %}
    <tr>
      <td>
        <a href=" {{ item.get_absolute_url }} ">{{ item.code }}</a>
      </td>
      <td>{{ item.product.name }}</td>
      <td>{{ item.product.brand }}</td>
      <td>{{ item.product.model }}</td>
      <td>{{ item.location.name }}</td>
      <td>{{ item.serial }}</td>
      <td class="td-image">
        <img {% if item.product.image %} src="{{ item.product.image.url }}" {% else %} src="{% static "img/default_image.png" %}" {% endif %} class="default-img" alt="product image" />
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endblock %}
